.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Label {
  font-size: large;
  font-family: fantasy;
  margin: 10px auto;
  color: #14213d;
}

.Input {
  margin: 0 auto 10px;
  width: 100px;
  height: 30px;
}
